/* SITE INTERNET OFFICIEL POUR LA BASE BODY */
body{
    background:url(telechargements.jpg) no-repeat;
    background-attachment: fixed;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* SITE INTERNET OFFICIEL */

.title{
  color:#ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px #f00;
  animation:Franck 10s;
}


.todo__submit{
    width:20px;
    height:20px;
    margin-left:5px;
}

div{
  overflow:hidden;
}

.todo__deleted{
    width:20px;
    height:20px;
    margin-left:5px;
}

.todo__form {
    display: flex;
    justify-content: center;
    -ms-flex-align: center;
}
.container{
    display:flex;
    flex-direction: flex-start;
    align-items: flex-start;
}

.check{
    height:20px;
    width:20px;
}

.inputToDo{
    height:20px;
}

input[type=checkbox] {
    margin: 0;
}

.check2{
    height:20px;
    width:20px;
}

.todo__form2{
    display: flex;
    justify-content: center;
}


.todo__submit2{
    width:20px;
    height:20px;
    margin-left:5px;
}



.todo__deleted2{
    width:20px;
    height:20px;
}

.textArea{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width:15%;
    margin:auto;
}
/* ACCES DE DONNÉES CÔTÉ SERVEUR */
.todo__form__input{
    box-sizing: border-box;
    box-sizing: inherit;
    display:flex;
}

.todo__deleted__2{
    box-sizing: border-box;
    box-sizing: inherit;
    width:20px;
    height:20px;
    margin:10px 12%;
}


.todo__submit__input{
    box-sizing: border-box;
    box-sizing: inherit;
    width:20px;
    height:20px;
    margin-left:5px;
}

.recu{
    width:280px;
    margin-left:10px;
}

/* DIV Container */

.AddToDo{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@keyframes Franck {
    0%{
      opacity:1;
      color:red;
    }
    50%{
      opacity:0;
      color:blue;
    }
    100%{
      opacity:1;
      color:red;
    }
}
